<?php
$carrots = $this->getCarrotsToShow();
if ($carrots->getSize()):
    ?>
    <div class="col3-set" id="carrots_available">
        <div class="col-wide carrots">
	    <h2><?php echo $this->__('Gifts') ?></h2>
            <div class="carrots-available">
                <ul id="available_carrots_list">
		    <?php foreach ($carrots as $carrot): ?>
	                <li class="item">
			    <img src="<?php echo $this->helper('catalog/image')->init($carrot, 'thumbnail')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($carrot->getName()) ?>" />
			    <div class="carrot-detail">
				<p><?php echo $this->__('Spend %s more to get:', Mage::helper('core')->currency(($carrot->getThreshold()-$carrot->getCurrentTotal()))) ?></p>
				<h3 class="carrot-name"><?php echo $this->htmlEscape($carrot->getName()) ?></h3>
			    </div>
			</li>
		    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>