/*
    Document   : carrots.css
    Created on : 25-mar-2012, 10:37:57
    Author     : david.parloir@gmail.com
*/

#carrots_available {
    background: none repeat scroll 0 0 #FAFAEC;
    border: 1px solid #CEC3B6;
    padding: 12px 15px;
    margin: 5px 0;
}

.carrots h2 {
    background-image: url("../images/gift.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 21px;
}

#available_carrots_list li {
    float: left;
    margin: 5px;
    width: 100%
}

#available_carrots_list li img {
    float: left;
    margin-right: 15px;
    border: 1px solid #D0CDC9;
}

div.carrot-detail p {
    margin: 0;
}