<?php
/**
 * @category   Osdave
 * @package    Osdave_Carrots
 * @author     Osdave <david.parloir@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
$_item = $this->getItem();
?>
<tr>
    <td>
	<img src="<?php echo $this->getProductThumbnail()->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($this->getProductName()) ?>" />
    </td>

    <td>
        <h2 class="product-name"><?php echo $this->htmlEscape($this->getProductName()) ?></h2>
        <?php if ($messages = $this->getMessages()): ?>
	    <?php foreach ($messages as $message): ?>
		<p class="item-msg <?php echo $message['type'] ?>">* <?php echo $message['text'] ?></p>
	    <?php endforeach; ?>
        <?php endif; ?>
    </td>

    <td class="a-center">
	&nbsp;
    </td>

    <?php if ($this->helper('wishlist')->isAllowInCart()) : ?>
    <td class="a-center">
        &nbsp;
    </td>
    <?php endif ?>

    <td class="a-right">
	<span class="cart-price">
	    <?php echo $this->helper('checkout')->formatPrice(0) ?>
	</span>
    </td>

    <td class="a-center">
        &nbsp;
    </td>

    <td class="a-right">
	<span class="cart-price">
	    <?php echo $this->helper('checkout')->formatPrice(0) ?>
	</span>
    </td>

    <td class="a-center">
        &nbsp;
    </td>
</tr>
