<?php
/**
 * @category   Osdave
 * @package    Osdave_Carrots
 * @author     Osdave <david.parloir@gmail.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php
$_item = $this->getItem();
?>
<tr>
    <td>
        <h3 class="product-name"><?php echo $this->htmlEscape($this->getProductName()) ?></h3>
    </td>

    <td class="a-right">
	<span class="cart-price">
	    <?php echo $this->helper('checkout')->formatPrice(0) ?>
	</span>
    </td>

    <td class="a-center">
        1
    </td>

    <td class="a-right">
	<span class="cart-price">
	    <?php echo $this->helper('checkout')->formatPrice(0) ?>
	</span>
    </td>
</tr>
